<% @tour_details.each do |tour_detail| %>
  <div class="container">
    <div class="">
      <table class="table table-striped custab">
        <thead>
          <tr>
            <th>Price</th>
            <th>Tour Total</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tr>
          <td> <%= tour_detail.price %> </td>
          <td> <%= tour_detail.tour_total %> </td>
          <td> <%= tour_detail.time_start %> </td>
          <td> <%= tour_detail.time_end %> </td>
          <td class="text-center">
            <% if User.roles[session[:role]] == User.roles[:admin] %>
              <%= link_to delete_tour_details_path(:id => tour_detail.id, :tour_id => tour_detail.tour_id), :class => "btn btn-danger btn-xs" do %>
                <span class="glyphicon glyphicon-remove">Delete</span>
              <% end %>
            <% elsif User.roles[session[:role]] == User.roles[:user] %>
              <%= link_to new_booking_request_path(:id => tour_detail.id, :tour_id => tour_detail.tour_id), :class => "btn btn-info btn-xs" do %>
                <span class="glyphicon glyphicon-edit">Booking</span>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
