<% @tour_details.each do |tour_detail| %>
  <p>
    <%= t("header.price") %>: <%= tour_detail.price %> &emsp;&emsp;&emsp;&emsp;&emsp;
    <%= t "header.tourtotal" %> : <%= tour_detail.tour_total %> &emsp;&emsp;&emsp;&emsp;&emsp;
    <%= t "header.time_start" %> : <%= tour_detail.time_start %>&emsp;&emsp;&emsp;&emsp;
    <%= t "header.time_end" %> : <%= tour_detail.time_end %>&emsp;&emsp;&emsp;&emsp;
    <% if User.roles[session[:role]] == User.roles[:admin] %>
      <%= link_to "Delete", delete_tour_details_path(:id => tour_detail.id, :tour_id => tour_detail.tour_id) %>
    <% end %>
    <% if User.roles[session[:role]] == User.roles[:user] %>
      <%= link_to "Booking", new_booking_request_path(:id => tour_detail.id, :tour_id => tour_detail.tour_id) %>
    <% end %>
  </p>
<% end %>
