<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bootstrap 4 Login/Register Form</title>
  </head>
  <body>
    <div id="logreg-forms">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
      <div class="social-login">
        <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
        <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
      </div>
      <p style="text-align:center"> OR  </p>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email"%>
        <%= f.password_field :password, class: "form-control", placeholder: "Password"%>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span> <%= t("authentication.views.label.remember_me") %> </span>
        <% end %>
        <%= f.submit t("authentication.views.html.login"), class: "btn btn-success btn-block" %>
      <% end %>
      <hr>
      <%= link_to signup_path do %>
        <button type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
      <% end %>
      <!-- <p>Don't have an account!</p>  -->
      <br>
    </div>
  </body>
</html>
