<% @payments.each do |payment| %>
  <div class="container">
    <div class="">
      <table class="table table-striped custab">
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>Tour</th>
            <th>Start At</th>
            <th>End At</th>
            <th>Pay At</th>
            <th>Price</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tr>
          <td> <%= payment.booking_id %> </td>
          <td> <%= payment.booking.tour_detail.tour.name %> </td>
          <td> <%= payment.booking.tour_detail.time_start %> </td>
          <td> <%= payment.booking.tour_detail.time_end %> </td>
          <td> <%= payment.created_at %> </td>
          <td> <%= payment.booking.tour_detail.price %> </td>
          <td class="text-center">
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
<h1> Revenue : <%= @revenue %></h1>
