<script>
  $('.btn-danger').click(function () {
      return confirm("Are you sure you want to delete?");
  })
</script>
<% @booking.each do |booking| %>
  <div class="container">
    <div class="">
      <table class="table table-striped custab">
        <thead>
          <tr>
            <th>ID</th>
            <th>Booking Total</th>
            <th>User ID</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tr>
          <td> <%= booking.id %> </td>
          <td> <%= booking.book_total %> </td>
          <td> <%= booking.user_id %> </td>
          <td class="text-center">
            <% if not_paid booking.id %>
              <%= link_to pay_path(:booking_id => booking.id), :class => "btn btn-info btn-xs", method: :post do %>
                <span class="glyphicon glyphicon-edit">Pay</span>
              <% end %>
            <% end %>
            <%= link_to delete_booking_request_path(:id => booking.id), :class => "btn btn-danger btn-xs" do %>
              <span class="glyphicon glyphicon-remove">Delete</span>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
