<% @tour.each do |tour| %>
  <p>
    <%= t("header.tour") %>: <%= tour.name %> &emsp;&emsp;&emsp;&emsp;&emsp;
    <%= t "header.description" %> : <%= tour.description %> &emsp;&emsp;&emsp;&emsp;&emsp;
    <%= t "header.category" %> : <%= tour.category_id %>&emsp;&emsp;&emsp;&emsp;
    <%= t "header.category_name" %> : <%= tour.category.name %>&emsp;&emsp;&emsp;&emsp;
    <% if User.roles[session[:role]] == User.roles[:admin] %>
      <%= link_to "View Tour Details", view_tour_details_path(:id => tour.id) %>
      <%= link_to "Create Tour Details", new_tour_details_path(:id => tour.id) %>
    <% end %>
    <% if User.roles[session[:role]] == User.roles[:user] %>
      <%= link_to "View Tour Details", view_tour_details_path(:id => tour.id) %>
    <% end %>
  </p>
<% end %>
