$("#R<%= @review_id %>").html('<span class="glyphicon glyphicon-edit">Like</span>');
$("#R<%= @review_id %>").attr("href", "/like_review?id=<%= @review_id %>&tour_id=<%= @tour_id %>");
$("#Likecount-<%= @review_id %>").html("<%= @likecount.count %>");
